export GOOGLE_CLIENT_ID=297612403739-4vfulo17epmo479u7p7aga0ibp1s34a1.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=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
export GOOGLE_CLIENT_CALLBACK=http://localhost:3000